.wrapper {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-bottom: 20px;
	background-color: white;
	font-weight: bold;
	border-radius: 10px;
}

.wrapper:hover {
	cursor: pointer;
}

.title {
	margin: 20px;
}
