.avatar {
	margin-right: 10px;
}

.avatarContainer {
	display: flex;
	flex-direction: row;
}

.name {
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: capitalize;
	text-decoration-line: underline;
}
